.landing-page {
  height: 100vh;
  /* background-image: url("/public/bg.png"); */
  background-position: center;
  background-size: cover;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.caption__title {
  font-size: 2.3rem;
  letter-spacing: 0.15rem;
  padding-bottom: 0.5rem;
}
.caption__subtitle {
  font-size: 1.5rem;
  padding-bottom: 0.4rem;
}

@media (min-width: 768px) {
  .caption__title {
    font-size: 3.8rem;
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
  }
  .caption__sobtitle {
    font-size: 2.8rem;
    padding-bottom: 0.8rem;
  }
}
